body{
    background-color: black;
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#change-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
}
#change-btn:hover{
    background-color: white;
    /* border: 1px solid black; */
    color: black;
    font-weight: 600;
}